.container{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 1420px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100em;
    background-color: white;
    box-shadow: 5px 5px gray;
}

.headerBar{
    box-sizing: border-box;
    margin: auto;
    height: 100px;
    //border: 2px solid black;
}

.headerBar header{
    padding-left: 30px;
    float: left;
    font-weight: bolder;
    font-size: 6em;
    //font-style: oblique;
    font-family: "Verdana";
    text-shadow: 5px 5px lightgray;
    //color: darkviolet;
}

 .headerBar ul{
    //border: 2px solid black;
    //width: 500px;
    list-style-type: none;
    padding-top: 40px;
    margin: auto;
    float: right;
}

 .headerBar li{
    align-content: right;
    float: left;
    margin: auto;
    padding: 0px;

}

.headerBar li a{
    font-family: "Times New Roman";
    font-size: 20px;
    font-weight: normal;
    transition: font-size 1s;
}

.headerBar li a:hover{
    font-size: 25px;
}

 #join a{
     border: 5px solid black;
     text-decoration: none;
     width: 100px;
     padding-top: 0px;
     background-color: white;
     color: black;
     transition: color;
     transition: font-size 1s;
 }

 #join a:hover{
     background-color: mediumspringgreen;
 }

 a{
     padding-top: 5px;
    width: 150px;
    display: block;
    color: black;
    font-weight: bold;
    font-size: 19px;
    text-align: center;

}

 .nav{
     //padding-top: 40px;
     box-sizing: border-box;
     height: 700px;
     margin: auto;
     //border: 2px solid black;
     margin-top: 60px;
 }

 .nav .transparent{
     box-sizing: border-box;
     //background-color: darkgrey;
     //opacity: 0.5%;
     height: 700px;
     width: 420px;
     //border: 2px solid black;
     float: left;
     margin: auto;

 }

 .nav .transparent .color{
     box-sizing: border-box;
     background-color: darkturquoise;
     margin-right: 20px;
     margin-bottom: 20px;
     height: 650px;
     //border: black;
     //opacity: 0.5;
     float: left;
 }

.nav .transparent .color .text p{
    box-sizing: border-box;
    //border: 2px solid deeppink;
    margin-top: 100px;
    margin-right: 30px;
    margin-left: 30px;
    //margin-bottom: 100px;
    font-family: "Times New Roman";
    font-weight: 600;
    color: white;
    font-size: 60px;
    font-style: italic;
}

.nav .transparent .color .text{
    font-family: "URW Chancery L";
    font-variant: normal;
    font-weight: bold;
    color: white;
    font-size: 35px;
    //font-style: italic;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
}



.nav .homeImg{
    float: left;
    box-sizing: border-box;
    //border: 2px solid black;
    width:1000px;
    height:650px;
    margin: auto;
}

.nav .homeImg .slideShow{
    float: left;
    display: none;
    width: 100%;
    max-height:650px;
    margin: auto;
}

#nav1{
    box-sizing: border-box;
    clear: none;
    margin: auto;
    padding: 0px;
    height: 50px;
    width: 1420px;
    //position: relative;
    //border: 1px solid cornflowerblue;
    font-family: "URW Chancery L";
    background-color: white;
    box-shadow: 0px 5px black;
}

#nav1 table tr{
    position: center;
    border-spacing: 0px;
    padding: 0px;
    margin: auto;
}

#nav1 tr a{
    //border: 2px solid black;
    height: 35px;
    margin: auto;
    width: 150px;
    font-weight: normal;
    color: darkgoldenrod;
    font-weight: bold;
    font-size: 20px;
    transition: font-size 1s;
}

#nav1 td{
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    transition: color 2s;
    //background-color: mediumspringgreen;
}

#nav1 td:hover a:hover{
    background-color: mediumspringgreen;
    font-size: 25px;
    border-radius: 10px;
}

.sticky{
    position: fixed;
    top: 0px;
    width: 1420px;
}




















.footer2{
    box-sizing: border-box;
    position: relative;
    width: 1420px;
    margin: auto;
    height: 40px;
    text-align: left;
    background-color: wheat;
    box-shadow: 5px 5px grey;
}

.footer2 td a{
    text-align: center;
    //border: 1px solid black;
    margin: auto;
    width: 200px;
    font-family: "Times New Roman";
    font-weight: normal;
    float: left;
    color: blue;

}

.footer1{
    box-sizing: border-box;
    position: relative;
    width: 1420px;
    margin: auto;
    height: 1000px;
    text-align: center;
    background-color: forestgreen;
    box-shadow: 5px 5px grey;
}